@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root{
    --font: "Poppins", sans-serif;
    --cormain: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    
    
}

body{
    background-image: url(imagens/wallpaper.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#painel{
    background: rgb(0, 0, 0); opacity: 0.9;
    margin: 8px;
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: -8px;
    height: 540px;
    gap: 10px;
    border-radius: 0 0 10px 10px;
    

    & h2{
        color: #ffffff;
        font: bold 11pt var(--font);
        position: relative;

    }

    & .visual{
        display: flex;
        justify-items: center;
        align-items: center;
        position: relative;
        flex-direction: column;
        gap: 15px;
    }

    a{
        width: 80px;
        height: 70px;
        cursor: pointer;
        border: none;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(228, 224, 34, 0.829);
        text-decoration: none;
    }

    a:hover{
        background: rgb(63, 60, 60);
        transition: linear 0.5s;

        i{
            color: rgba(228, 224, 34, 0.829);
            transition: linear 0.5s;
        }
    }

    i{
        color: rgb(0, 0, 0);
        font-size: 35px;
        opacity: 1;
    }
}

.account{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    position: absolute;
    left: -30px;
    color: white;
    top: 30px;
    font: normal 10pt var(--font);
    z-index: 1;
}

.logout{
    position: absolute;
    left: 10px;
    bottom: 622px;

    & .logouttext{
        z-index: 10;
        background: rgba(228, 224, 34, 0.829);
        padding: 6px 15px;
        border-radius: 5px;
        display: flex;
        position: relative;
        left: 25px;
        top: -95px;
        color: rgb(0, 0, 0);
        gap: 5px;
        font: normal 10pt var(--font);
    }
}

.title{
    color: rgb(87, 82, 82); opacity: 0.9;
    position: relative;
    padding-left: 20px;
    text-align: start;
    font: bold 25pt var(--font);
    font-weight: 400;
    font-style: normal;
    background: rgb(3, 3, 3);
    margin: 8px;
    padding-top: 70px;
    padding-bottom: 10px;
    color: white;
    border-radius: 10px 10px 0 0;

    hr{
        position: relative;
        width: 285px;
    }
}

.information{
    background: rgb(0, 0, 0); opacity: 0.9;
    margin: 8px;
    height: 390px;
    display: grid;
    gap: 30px;
    padding: 30px;
    grid-template-columns: 1fr;
    position: relative;
    border-radius: 10px;
    top: 0px;
    height: 500px;
    padding-top: 90px;

    & .info{
        font: normal 8pt var(--font);
        padding: 1px;
        position: relative;
        top: -30px;
        top: -15px;

        h2{
            text-align: center;
            font: normal 20pt var(--font);
            margin-bottom: 6px;
        }
        
        hr{
            position: relative;
            margin-bottom: 12px;
            width: 300px;
            left: 19px;
        }
    }

    .login{
        color: white;
        background: rgba(228, 224, 34, 0.829);
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        position: relative;
        top: -40px;
        border-radius: 8px;


        h3{
            position: relative;
            top: 4px;
            font: normal 10pt var(--font);

        }

    }

    .whatsapp{
        color: white;
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        position: relative;
        top: -60px;

        h3{
            position: relative;
            top: 4px;
            font: normal 10pt var(--font);
        }
    }

    .criacao{
        background: rgba(228, 224, 34, 0.829);
        color: white;
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        position: relative;
        top: -80px;
        border-radius: 8px;

        h3{
            position: relative;
            left: -5px;
            top: 1px;
            font: normal 10pt var(--font);
        }
    }

    .password{
        color: white;
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        position: relative;
        top: -100px;
    }

    .email{
        background: rgba(228, 224, 34, 0.829);
        color: white;
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        position: relative;
        top: -120px;
        border-radius: 8px;

        h3{
            position: relative;
            left: 40px;
            top: 3px;
            font: normal 10pt var(--font);
        }
    }
}

.painelcode{
    background: rgb(0, 0, 0); opacity: 0.9;
    margin: 8px;
    height: 390px;
    display: grid;
    gap: 30px;
    padding: 30px;
    grid-template-columns: 1fr;
    position: relative;
    border-radius: 10px;
    top: 0px;
    height: 500px;
    padding-top: 90px;

    & .gift{
        font: normal 8pt var(--font);
        padding: 1px;
        position: relative;
        top: -30px;
        top: -15px;

        h2{
            text-align: center;
            font: normal 20pt var(--font);
            margin-bottom: 6px;
        }
        
        hr{
            position: relative;
            margin-bottom: 12px;
            width: 150px;
            left: 93px;
        }
    }

    .listacode{
        background: rgba(228, 224, 34, 0.829);
        color: white;
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        height: 45px;
        position: relative;
        top: -80px;
        border-radius: 8px;
        margin: -7px;
        left: 6px;

        h3{
            position: relative;
            display: flex;
            align-items: center;
            font: normal 15pt var(--font);
        }

        button{
            cursor: pointer;
        }
    }

    .listacode2{
        background: rgba(228, 224, 34, 0.829);
        color: white;
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        height: 45px;
        position: relative;
        top: -80px;
        border-radius: 8px;
        margin: -7px;
        left: 6px;

        h3{
            position: relative;
            display: flex;
            align-items: center;
            font: normal 15pt var(--font);
        }

        button{
            cursor: pointer;
        }
    }
    .listacode3{
        background: rgba(228, 224, 34, 0.829);
        color: white;
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        height: 45px;
        position: relative;
        top: -80px;
        border-radius: 8px;
        margin: -7px;
        left: 6px;

        h3{
            position: relative;
            display: flex;
            align-items: center;
            font: normal 15pt var(--font);
        }

        button{
            cursor: pointer;
        }
    }
    .listacode4{
        background: rgba(228, 224, 34, 0.829);
        color: white;
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        height: 45px;
        position: relative;
        top: -80px;
        border-radius: 8px;
        margin: -7px;
        left: 6px;

        h3{
            position: relative;
            display: flex;
            align-items: center;
            font: normal 15pt var(--font);
        }

        button{
            cursor: pointer;
        }
    }
    .listacode5{
        background: rgba(228, 224, 34, 0.829);
        color: white;
        display: flex;
        justify-content: space-between;
        width: 340px;
        font: normal 8pt var(--font);
        padding: 10px;
        height: 45px;
        position: relative;
        top: -80px;
        border-radius: 8px;
        margin: -7px;
        left: 6px;

        h3{
            position: relative;
            display: flex;
            align-items: center;
            font: normal 15pt var(--font);
        }

        button{
            cursor: pointer;
        }
    }
}

.footer{
    background: rgba(228, 224, 34, 0.829);
    margin-top: 20px;
    padding: 8px 0 0 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}

.janela-modal{
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.473);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: relative;
    top: -400px;

    h1{
        font: bold 27pt var(--font);
        position: relative;
        top: -20px;
    }

    p{
        font: normal 13pt var(--font);
        margin-bottom: 5px;
        margin-top: 5px;
        position: relative;
        top: -20px;
    }
    
    .modal{
        width: 90%;
        height: 310px;
        background-color: rgba(255, 255, 255, 0.507);
        backdrop-filter: blur(10px);
        padding: 40px;
        border-radius: 20px;
    }

    .password-atual{
        position: relative;
        width: 290px;
        height: 30px;
        border: none;
        border-radius: 8px;
        padding-left: 5px;
        outline: 0;
        top: -20px;
    }

    .password-nova{
        position: relative;
        width: 290px;
        height: 30px;
        border: none;
        border-radius: 8px;
        padding-left: 5px;
        outline: 0;
        top: -20px;
    }

    .confirm{
        position: relative;
        width: 100%;
        height: 40px;
        top: 5px;
        border-radius: 8px;
        border: none;
        background-color: rgba(228, 224, 34, 0.829);
        color: rgb(0, 0, 0);
        font: bold 12pt var(--font);
        box-shadow: 1px 1px 7px 1px black;
        cursor: pointer;
    }

    .confirm:hover{
        background-color: rgb(0, 0, 0);
        color: rgba(228, 224, 34, 0.829);
    }
    .fechar{
        position: absolute;
        top: 10px;
        left: 340px;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-color: rgba(228, 224, 34, 0.829);
        color: rgb(0, 0, 0);
    }
}

.janela-modal.abrir{
    display: flex;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal{
    animation: abrirmodal 0.5s;
}

.janela-modal2{
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.473);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: relative;
    top: -400px;

    h1{
        font: bold 27pt var(--font);
        position: relative;
        top: -20px;
    }

    p{
        font: normal 13pt var(--font);
        margin-bottom: 5px;
        margin-top: 5px;
        position: relative;
        top: -20px;
    }
    
    .modal2{
        width: 90%;
        height: 310px;
        background-color: rgba(255, 255, 255, 0.507);
        backdrop-filter: blur(10px);
        padding: 40px;
        border-radius: 20px;
    }

    .password-atual{
        position: relative;
        width: 290px;
        height: 30px;
        border: none;
        border-radius: 8px;
        padding-left: 5px;
        outline: 0;
        top: -20px;
    }

    .password-nova{
        position: relative;
        width: 290px;
        height: 30px;
        border: none;
        border-radius: 8px;
        padding-left: 5px;
        outline: 0;
        top: -20px;
    }

    .confirm{
        position: relative;
        width: 100%;
        height: 40px;
        top: 5px;
        border-radius: 8px;
        border: none;
        background-color: rgba(228, 224, 34, 0.829);
        color: rgb(0, 0, 0);
        font: bold 12pt var(--font);
        box-shadow: 1px 1px 7px 1px black;
        cursor: pointer;
    }

    .confirm:hover{
        background-color: rgb(0, 0, 0);
        color: rgba(228, 224, 34, 0.829);
    }
    .fechar{
        position: absolute;
        top: 10px;
        left: 340px;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-color: rgba(228, 224, 34, 0.829);
        color: rgb(0, 0, 0);
    }

    #solicitar{
        position: relative;
        top: -44px;
        left: 265px;
        cursor: pointer;
    }
}

.janela-modal2.abrir{
    display: flex;
}

.janela-modal3{
    position: relative;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.473);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: relative;
    top: -400px;

    h1{
        font: bold 27pt var(--font);
        position: relative;
        top: -20px;
    }

    p{
        font: normal 13pt var(--font);
        margin-bottom: 5px;
        margin-top: 5px;
        position: relative;
        top: -20px;
    }
    
    .modal3{
        width: 90%;
        height: 310px;
        background-color: rgba(255, 255, 255, 0.507);
        backdrop-filter: blur(10px);
        padding: 40px;
        border-radius: 20px;
    }

    .password-atual{
        position: relative;
        width: 290px;
        height: 30px;
        border: none;
        border-radius: 8px;
        padding-left: 5px;
        outline: 0;
        top: -20px;
    }

    .password-nova{
        position: relative;
        width: 290px;
        height: 30px;
        border: none;
        border-radius: 8px;
        padding-left: 5px;
        outline: 0;
        top: -20px;
    }

    .confirm{
        position: relative;
        width: 100%;
        height: 40px;
        top: 5px;
        border-radius: 8px;
        border: none;
        background-color: rgba(228, 224, 34, 0.829);
        color: rgb(0, 0, 0);
        font: normal 12pt var(--font);
        box-shadow: 1px 1px 7px 1px black;
        cursor: pointer;
    }

    .confirm:hover{
        background-color: rgb(0, 0, 0);
        color: rgba(228, 224, 34, 0.829);
    }
    .fechar{
        position: absolute;
        top: 10px;
        left: 340px;
        border: none;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        cursor: pointer;
        background-color: rgba(228, 224, 34, 0.829);
        color: rgb(0, 0, 0);
    }

    #solicitar{
        position: relative;
        top: -44px;
        left: 265px;
        cursor: pointer;
    }
}

.janela-modal3.abrir{
    display: flex;
}

@keyframes abrirmodal {
    from{
        opacity: 0;
        transform: translate3d(0, -20px, 0);
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

.abrir .modal{
    animation: abrirmodal 0.5s;
}

.abrir .modal2{
    animation: abrirmodal 0.5s;
}

.abrir .modal3{
    animation: abrirmodal 0.5s;
}

